body {
    background-image: url(../IMAGES/background-image1.png);
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    overflow: hidden;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.top-txt {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    padding: 10px;
    width: 100%;
    text-align: center;
    z-index: 10;
    font-family: "Instrument Serif", serif;
    font-optical-sizing: auto;
}

.bot-txt {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    padding: 10px;
    width: 100%;
    text-align: center;
    z-index: 10;
    font-family: "Instrument Serif", serif;
    font-optical-sizing: auto;
}

.nameText1 {
    text-align: left;
    margin-bottom: 20px;
    margin-left: 300px;
    line-height: 0.1;
    color: white;
    text-shadow: 2px 2px 4px rgba(5, 19, 0, 0.342);
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
}

.nameText2 {
    text-align: left;
    margin-bottom: 20px;
    margin-left: 300px;
    line-height: 0.1;
    color: white;
    text-shadow: 2px 2px 4px rgba(5, 19, 0, 0.342);
    animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
    font-family: "Luxurious Script", serif;
    font-weight: lighter;
}

.button1 {
    margin-left: 300px;
    border-radius: 30px;
    background-color: transparent;
    color: white;
    border-color: rgb(255, 255, 255);
    padding: 10px;
    border-width: 2px;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

.button1:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 51, 0);
    cursor: pointer;
}

.introtxt {
    margin-left: 300px;
    color: white;
    font-size: small;
    animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 400;
}

/* about me style */

.navigation {
    position: fixed;
    margin-top: 30px;
    margin-left: 30px;
    top: 0%;
    word-spacing: 20px;
    color: white;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.144);
    color: white;
    animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 700;
}

a {
    color: white;
}

body#about, body#skills, body#resume, body#portfolio {
    background-image: url(../IMAGES/background-image2.png);
    background-repeat: no-repeat;
}

body#resume, body#portfolio {
    background-image: url(../IMAGES/background-image2.png);
    background-repeat: no-repeat;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.AMtxt {
    color: white;
    text-align: center;
    padding: 100px;
    margin: 40px;
    margin-top: 300px;
    animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 400;
}

.aia-image {
    animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
    position: absolute;
    margin: 0 auto;
    max-width: 100%;
    top: 8%;
    margin-left: 40%;
    margin-right: auto;
}

/*skills*/

.myskills {
    animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
    padding: 150px;
    display: block;
    content: " ";
    clear: both;
    margin: 150px;
}

.column1 {
    float: left;
    padding: 60px;
    margin: 30px;
}

.column2 {
    float: right;
    padding: 60px;
    margin: 30px;
}

.progress { 
    background-color: #516725; 
    width: 150%; 
    border-radius: 20px; 
} 

.skill { 
    background-color: #ffffff; 
    color: #516725; 
    padding: 5%; 
    text-align: right; 
    font-size: 14px; 
    font-family: "Montserrat", serif;
    font-weight: 600;
    border-radius: 20px; 
} 

.skills-h1 {
    font-family: "Instrument Serif", serif;
    font-optical-sizing: auto;
    color: rgb(255, 255, 255);
}

.p-skills {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    color: white;
}

.html { 
    width: 80%; 
} 

.ADP { 
    width: 100%; 
} 

.css { 
    width: 80%; 
} 

.ADI { 
    width: 100%; 
} 

.js { 
    width: 80%; 
} 

.ADILL { 
    width: 100%; 
} 

