body {
    background-image: url(../IMAGES/background-image1.png);
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    overflow: hidden;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.top-txt {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    padding: 10px;
    width: 100%;
    text-align: center;
    z-index: 10;
    font-family: "Instrument Serif", serif;
    font-optical-sizing: auto;
}

.bot-txt {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    padding: 10px;
    width: 100%;
    text-align: center;
    z-index: 10;
    font-family: "Instrument Serif", serif;
    font-optical-sizing: auto;
}

.nameText1 {
    text-align: left;
    margin-bottom: 20px;
    margin-left: 300px;
    line-height: 0.1;
    color: white;
    text-shadow: 2px 2px 4px rgba(5, 19, 0, 0.342);
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
}

.nameText2 {
    text-align: left;
    margin-bottom: 20px;
    margin-left: 300px;
    line-height: 0.1;
    color: white;
    text-shadow: 2px 2px 4px rgba(5, 19, 0, 0.342);
    animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
    font-family: "Luxurious Script", serif;
    font-weight: lighter;
}

.button1 {
    margin-left: 300px;
    border: 3px solid #ffffff;
    border-radius: 30px;
    background-color: transparent;
    color: white;
    border-color: rgb(255, 255, 255);
    padding: 10px;
    border-width: 2px;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

.button1:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 51, 0);
    cursor: pointer;
}

.introtxt {
    margin-left: 300px;
    color: #516725;
    font-size: small;
    animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 400;
}

/* about me style */

.navigation {
    position: fixed;
    margin-top: 30px;
    margin-left: 30px;
    top: 0%;
    word-spacing: 20px;
    color: white;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.144);
    color: white;
    animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 700;
}

a {
    color: white;
}

body#about, body#skills {
    background-image: url(../IMAGES/background-image2.png);
    background-repeat: no-repeat;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        height: 100vh;
}

body#resume, body#portfolio {
    background-image: url(../IMAGES/background-image2.png);
    background-repeat: no-repeat;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        height: 100vh;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

body#about {
    margin: auto;
    padding: 0;
    display: flex;
    align-items: flex-start;
    height: 100vh;
    animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
}

.about-container {
    text-align: center;
    max-width: 800px;
    width: 100%;
    margin-top: 50px;
    margin: auto;
}

.aia-image {
    width: 50%;
    height: auto;
    margin: auto;
}

.AMtxt {
    margin-top: 5px;
    line-height: 1.5;
    color: #ffffff;
    text-align: center;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 200;
}

/*skills*/

body#skills {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

.skills-container {
    display: flex;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;
    max-width: 1000px;
    gap: 40px;
    margin: auto;
}

.column {
    flex: 30%;
    margin: 50px;
    min-width: 300px;
}

.skills-h1 {
    text-align: center;
    color: #333;
    font-size: 50px;
    margin-bottom: 20px;
    font-family: "Instrument Serif", serif;
    font-optical-sizing: auto;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.144);
    color: white;
    text-decoration: underline;
}

.progress-bar {
    margin-bottom: 15px;
}

.skill-name {
    font-size: 16px;
    margin-bottom: 5px;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    color: white;
    text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.bar-container {
    background-color: #516725;
    border-radius: 50px;
    overflow: hidden;
    height: 30px;
    width: 100%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.bar {
    background-color: #ffffff;
    height: 100%;
    transition: width 0.5s ease-in-out;
}

.percentage {
    font-size: 14px;
    text-align: right;
    color: #ffffff;
    margin-top: 5px;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 600;
}

/*resume*/

body#resume {
    padding: 20px;
    display: flex;
    justify-content: center;
    animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

.resume-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 1200px;
    padding: 20px;
    margin: auto;
}

.RSleft-column {
    flex: 0.6;
    padding-right: 20px;
    line-height: 1.5;
}

.RSright-column {
    flex: 0.4;
    padding-left: 20px;
}

.section {
    margin-bottom: 50px;
}

.resume-h2 {
    font-size: 40px;
    color: #ffffff;
    font-family: "Instrument Serif", serif;
    font-optical-sizing: auto;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.144);
    margin-bottom: 10px;
    border-bottom: 2px solid #ffffff;
    padding-bottom: 5px;
}

.resume-p {
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 5px;
    line-height: 0.5;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.144);
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;

}

.RSright-column ul {
    list-style-type: none;
    padding-left: 0;
}

.RSright-column ul li {
    margin-bottom: 10px;
}

.RSright-column ul li a {
    font-size: 18px;
    color: #ffffff;
    background-color: #516725;
    border-radius: 8px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
}

.RSright-column ul li a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .resume-container {
        flex-direction: column;
        align-items: center;
    }

    .RSleft-column,
    .right-column {
        flex: 1;
        padding: 10px 0;
    }

    .RSright-column {
        border-left: none;
    }

    .RSright-column ul li a {
        font-size: 16px;
    }
}

/*portfolio*/

body#portfolio {
    display: flex;
    justify-content: center;
    padding: 20px;
    animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

.portfolio-container {
    max-width: 1000px;
    width: 100%;
    text-align: center;
    margin: auto;
}

.drive-link a {
    font-size: 15px;
    color: #ffffff;
    background-color: #516725;
    border-radius: 8px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 40px;
    text-decoration: none;
    margin-bottom: 20px;
    display: inline-block;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 600;
}

.drive-link a:hover {
    text-decoration: underline;
}

.gallery-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.image-gallery {
    display: flex;
    overflow-x: hidden;
    width: 80%;
    gap: 20px;
}

.image-gallery img {
    width: 200px;
    height: 200px;
    border-radius: 8px;
    object-fit: cover;
    margin: auto;
    border: 2px solid #ffffff;
}

.arrow {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    border-radius: 15px;
}

.left {
    left: 0;
}

.right {
    right: 0;
}

.gallery-text p {
    font-size: 40px;
    color: #ffffff;
    margin-top: 20px;
    font-family: "Instrument Serif", serif;
    font-optical-sizing: auto;
    text-decoration: underline;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.144);
}